{% extends 'main/base.html' %}

{% block content %}

<div class="login-page">

    <div class="login-card">

        <h2>Check Your Email</h2>

        <p class="login-text">

            We've emailed you instructions for resetting your password.

            If an account exists with the email you entered,
            you should receive the email shortly.

        </p>

        <a href="{% url 'login' %}">

            Back to Login

        </a>

    </div>
    <footer class="login-footer">
        <p>© 2026 Silver Escapes. All Rights Reserved.</p>
    </footer>

</div>

{% endblock %}