{% extends 'main/base.html' %}

{% block content %}

<div class="login-page">

    <div class="login-card">

        <h2>Reset Password</h2>

        <p class="login-text">
            Enter your new password below.
        </p>

        <form method="POST">

            {% csrf_token %}

            <div class="form-group">
    <label for="{{ form.new_password1.id_for_label }}">
        New Password
    </label>

    <div class="password-box">
        {{ form.new_password1 }}
        <i class="fas fa-eye togglePassword"></i>
    </div>

    {% if form.new_password1.errors %}
        <div class="error">
            {{ form.new_password1.errors }}
        </div>
    {% endif %}
</div>

<div class="form-group">
    <label for="{{ form.new_password2.id_for_label }}">
        Confirm New Password
    </label>

    <div class="password-box">
        {{ form.new_password2 }}
        <i class="fas fa-eye togglePassword"></i>
    </div>

    {% if form.new_password2.errors %}
        <div class="error">
            {{ form.new_password2.errors }}
        </div>
    {% endif %}
</div>

            <button type="submit">

                Reset Password

            </button>

        </form>

    </div>
    <footer class="login-footer">
        <p>© 2026 Silver Escapes. All Rights Reserved.</p>
    </footer>

</div>

{% endblock %}